
:root {
    --defaultBlue: #212529;
}

* {
    border:  0;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width:  100%;
    height: 100%;
}

h1, h2, p { color: white; }
h1 { font-size: 50px; }
h2 { font-size: 30px; }
p  { font-size: 20px; }

header  {
    width:            100%;
    height:           130px;
    background-color: var(--defaultBlue);
    border-bottom:    2px solid white;
    
    display:          flex;
    align-items:      center;
    justify-content:  center;
}

header p { font-size: 40px; }

a {
    text-decoration: none;
    color:           white;
}


header a p {
    width:        9.5ch;
    overflow:     hidden;
    white-space:  nowrap;
    animation:    typing 2s, blinking 0.5s infinite step-end alternate;
}
@keyframes typing   { from { width:        0;           } }
@keyframes blinking { 50%  { border-color: transparent; } }

.desktop { display: none; }

main {
    height:           auto;
    min-height:       100%;

    display:          flex;
    justify-content:  center;
    background-color: var(--defaultBlue);
    padding:          0 10px 30px 10px;
}

.container {
    width:            100%;
    max-width:        1200px;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  space-evenly;
    text-align:       center;
    gap:              40px;
}

img {
    border-radius:    100%;
    width:            100%;
    max-width:        100%;
    border:           2px solid white;
}

footer {
    border-top:       2px solid white;
    height:           150px;
    background-color: var(--defaultBlue);
    display:          flex;
    justify-content:  center;
    align-items:      center;
    text-align:       center;
}

footer a:hover {
    border-bottom: 2px solid red;
}

/* Media Query */


@media screen and (min-width:1290px) {

    .item-1 h1 { font-size: 45px; }
    .item-1 h2 { font-size: 30px; }
    
    .item-1 p {
        font-size:       22px; 
        margin:          4px 0 0 0;
    }

    header {
        height:          130px;
        display:         flex;
        align-items:     center;
        justify-content: space-around;
    }

    header p       { font-size:     40px;            }
    header p:hover { border-bottom: 2px solid red; }

    .desktop {
        display:         flex;
        justify-content: space-evenly;
        align-items:     center;
    }
    ul {
        width:           50%;
        display:         flex;
        justify-content: space-evenly;
    }
    li {
        list-style:      none;
        text-decoration: none;
        font-size:       25px;
        border:          1px solid white;
        padding:         4px 12px;
        border-radius:   8px;
    }
    li:hover {
        padding:         8px 12px;
    }

    h2 {
        border-bottom:    2px solid red;
        padding:          0 0 8px 0;
    }

    .container {
        flex-direction:   row;
        margin:           40px 0 0 0;
        text-align:       start;
    }

    .item-1  { width:     70%;  }

    footer   { height:    80px; }
    footer p { font-size: 20px; }    

}

