
main {
    justify-content:  center;
    align-items:      center;
    background-color: var(--defaultBlue);
}

main section {
    width:            100vw;
    max-width:        50vw;
    height:           auto;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;
}

/* main #s1 {} */

main #s1 p {
    font-size:        18pt;
    color:            var(--defaultWhite);
    text-align:       center;
}

main #s2
{ gap: 8px; }

main #s2 img {
    width:            100%;
    max-width:        60%;
    height:           auto;
    vertical-align:   middle;
    border-radius:    50%;
    border:           2px solid var(--defaultWhite);
}

main #s2 p {
    font-size:        14pt;
    color:            var(--defaultWhite);
}

main #s2 p a
{ color: var(--defaultWhite); }

main #s2 p a:hover
{ border-bottom: 1px solid var(--defaultRed); }

@media (max-width: 800px) {
    main {
        flex-direction:   column;
        gap:              16px;
    }

    main section
    { max-width: 100vw;}
}
