
main #home {
    justify-content:  flex-start;
    align-items:      center;
}

main #home .home-1,
main #home .home-2 {
    width:            100%;
    max-width:        100%;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;
}

main #home .home-1 {}

main #home .home-1 p {
    font-size: 16pt;
}

main #home .home-2 {
    gap: 8px;
}

main #home .home-2 img {
    width:           100%;
    max-width:       60%;
    height:          auto;
    vertical-align:  middle;
    border-radius:   50%;
    border:          4px solid var(--defaultWhite);
}

main #home .home-2 p {}

@media (max-width:1024px) {
    main #home .home-2 p
    { margin: 0 0 16px 0; }
}

main #home .home-2 p a {}

main #home .home-2 p a:hover {
    border-bottom: 1px solid var(--defaultRed);
}

@media (max-width:1024px) {
    main #home {
        padding:          96px 0 0 0;
        flex-direction:   column;
        gap:              24px;
    }

    main #home .home-1 p
    { text-align: center; }

    main #home .home-2 img
    { max-width: 80%; }
}
