
main #education {
    flex-direction:   column;
    align-items:      center;
    justify-content:  flex-start;
    gap:              12px;
}

main #education details {
    width:            100%;
    max-width:        60%;
    min-height:       auto;
    border:           2px solid var(--defaultWhite);
    border-radius:    8px;
    color:            var(--defaultWhite);
    user-select:      none;
}

main #education details summary {
    padding:          8px;
    font-size:        18pt;
}

hr {
    width:            100%;
    max-width:        100%;
    height:           2px;
    background-color: var(--defaultWhite);
}

main #education details p {
    padding:          4px 8px;
    font-size:        16pt;
}

@media (max-width: 800px) {
    main #education details
    { max-width: 90%; }
}
