
main {
    padding:          30px 10px;
    flex-direction:   column;
    justify-content:  center;
    align-items:      center;
    gap:              10px;
}

main details {
    width:            100%;
    max-width:        40%;
    min-width:        280px;
    height:           auto;
    padding:          15px 22px;
    border-radius:    4px;
    border:           1px solid var(--defaultWhite);
    flex-direction:   column;
    gap:              8px;
}

main details img {
    margin:           0 10px 0 0;
    width:            100%;
    max-width:        3%;
    height:           auto;
    vertical-align:   middle;
}

@media screen and (max-width: 1024px) {
    main details img { max-width: 6%; }
}

main details p { margin: 0 0 6px 0; }

summary {
    display:          flex;
    align-items:      center;
    padding:          8px 0;
    font-size:        14pt;
}
