
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin:  0;
    padding: 0;
    border:  0;
    box-sizing:  border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width:  100%;
    height: 100%;
}

section {
    margin: 0 auto;
    /* max-height: 100vh; */
}